body {
	background-color: lightskyblue;
}

#scoreBoard {
	border: 1px solid black;
	text-align: center;
}

th, td {
	border: 1px solid black;
	padding: 10px;
}

#teamRoster {
	list-style-type: square;

}

.hyperLink:hover{
	background-color: yellowgreen;
	text-decoration: none;
}

em {
	background-color: darkblue;
	color: green;
}

#teamRoster > li:first-child{
    background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
	background-repeat: no-repeat;
	background-size:150px 150px;
	background-position: left;
	opacity: 0.7;



}

#teamRoster >li:last-child{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
	background-repeat: no-repeat;
	background-size:150px 150px;
	background-position: left;
	opacity: 0.7;
}

#teamRoster img{
	display: none;
}

#checkbox-grid {
	list-style-type: none;
}




